*{
    box-sizing: border-box;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif
}
body{
    perspective: 800px;
    margin: 0;
    padding: 0
}
/* start header contain sidebar*/
header{
    width: 100%;
    margin: 0;
    background-color: #0FC9D2;
    height: 50px;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    position: sticky;
    top: 0;
    z-index: 10
}

header p{
    margin: 0;
    padding: 15px;
}

header p span{
    font-weight: 100
}
/* start sidebar*/
body >input{
    display: none
}

label i{
    position: absolute;
    right: 40px;
    top: 15px;
    cursor: pointer;
    font-size: 24px;
    color: #FFF
}

header .sidebar label i{
    position: relative;
    left: 80%;
    top: 20px;
    cursor: pointer;
    font-size: 24px;
    color: #0FC6CF
}


header .sidebar{
    background-color: #F7F7F7;
    width: 250px;
    position: absolute;
    top: 0;
    right: -270px;
    height: 625px;
    background-attachment: fixed;
    transition: all 7s ease-in-out;
    box-shadow: -1px 0 20px #E9E9E9;
    display: none;
}

#menu:checked ~ header .sidebar{
    right: 0;
    display: block;
}

header .sidebar ul li{
    list-style: none;
    text-transform: capitalize;
    border-bottom: 1px solid #D7D7D7;
    width: 80%;
    padding: 20px 0;
    transition:all .5s ease-in-out;
    color: #363636;
}

header .sidebar ul li:last-of-type{
    border: none
}

header .sidebar ul li a{
    text-decoration: none;
    color: inherit;
    font-weight: 100
}

header .sidebar ul li:hover{
    margin-left: 20px;
    color: #0FC9D2
}

/* end sidebar , header and start article*/

article{
    width: 80%;
    margin: 100px auto;
    background-color: #FFF;
    overflow: hidden;
    box-shadow: 0px 0px 50px 50px #EBEBEB;
    border-radius: 10px;
    padding: 60px;
    color: #363636cc
}

section{margin: 60px 0}

h1{
    font-size: 40px;
    color: #313131;
    text-transform: capitalize;
    font-weight: 300
}

/*      text section        */

.text{line-height: 22px}

.text h2{padding: 40px 0;font-weight: 100}

.text p{font-size: 18px}

.text a:hover{text-decoration: none}

.text code{
    border: 1px solid #999;
    padding: 5px;
    border-radius: 5px
}

/*      heading section        */

.heading{line-height: 35px}

/*      list section        */

.lists{overflow: hidden}

.unorder,.order{
    float:left;
    width: 50%;
    line-height: 30px
}

.unorder ul:last-of-type li{
    list-style: none;
    border-bottom: 1px solid #CCC;
    padding: 10px
}

.unorder ul li:last-of-type{border-bottom:none}

/*      data-list section        */

dl{line-height: 30px;font-size: 18px}

dt,dd,.data-list h4{margin-bottom: 6%}

/*    icons section , note:the "hover" in footer  */


.icons i{
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: 1px solid #999;
    border-radius: 50%;
    font-size: 20px;
    margin: 10px;
    transition: .5s ease-in-out;
    transition-property: color, border
}

/*      blockquote section        */

.blockquote blockquote{
    border-left: 10px solid #CCC;
    padding: 30px;
    margin: 40px 0;
    font-style: italic;
}

/*      table section        */

table{width: 100%;}

table *{
    padding: 20px;
    text-transform: capitalize
}

thead td{
    font-weight: 700;
    border-bottom: 2px solid #CCC
}

tbody td{
    border-bottom: 1px solid #CCC
}

/*      form       */

h3{font-size: 22px}

form input[type="text"]{
    width: 47%;
    height: 60px;
    outline: none;
    margin: 20px 0 20px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0 20px
}

form input[type="email"]{
    width: 47%;
    height: 60px;
    outline: none;
    margin: 20px 0 20px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0 20px
}

form select{
    width: 100%;
    height: 60px;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0 20px;
    font-size: 22px;
    text-transform: capitalize
}

form select option{
    font-size: 22px;
    text-transform: capitalize
}

::placeholder{
    color: #DDD
}

form .radio-btn {
    width: 33%;
    float: left;
    font-size: 20px
}

form .checkbox-btn {
    width: 50%;
    float: left;
    font-size: 20px
}

form div >input{
    width: 50px;
    height: 50px;
    margin: 20px 0;
    cursor: pointer
}

form div label{
    position: relative;
    bottom: 18px;
    font-size: 15px;
    margin: 0 0 0 10px;
    cursor: pointer
}

form textarea{
    width: 100%;
    height: 200px;
    resize: none;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 24px;
    outline: none
}

form input:focus,textarea:focus,select:focus{
    border: 1px solid #0FC9D2
}

form input[type="submit"]{
    width: 20%;
    height: 50px; 
    background-color: #0FC9D2;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #FFF;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 30px 30px 30px 0;
    padding: 10px;
    transition: all .5s ease-in-out
}

form input[type="submit"]:hover{
    background-color: #11e0ea
}

form input[type="reset"]{
    width: 13%;
    height: 50px;
    outline: none;
    border-radius: 5px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 30px;
    padding: 10px;
    transition: all .5s ease-in-out
}

form input[type="reset"]:hover{
    border: 1px solid #0FC9D2;
    color: #0FC9D2;
}

/*      images section        */
.wallper img{
    width: 30%;
    height: 300px;
    margin: 1.5%
}

/*start footer*/

footer{
    width: 40%;
    margin: 100px auto;
    text-align: center;
}

footer i{
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: 1px solid #999;
    border-radius: 50%;
    font-size: 20px;
    padding: 15px 0;
    margin: 10px;
    transition: .5s ease-in-out;
    transition-property: color, border
}

footer i:hover,.icons i:hover{
    color: #0FC9D2;
    border-color: #0FC9D2
}

footer p{
    color: #C1C1C1
}

/*      media query       */

@media only screen and (min-width: 600px) and (max-width: 1000px){
    
    header .sidebar{
    height: 2000px;
    }
    
    .icons i{
        margin: 3px
    }
    
    form input:[type="text"], form input:[type="email"] {
    width: 45%;
    }
    
    form input[type="submit"]{
    width: 40%;
    }
    
    form input[type="reset"]{
    width: 25%;
    }
    
    .wallper img {
    width: 29%;
    height: 200px
    }
}