*{
    box-sizing: border-box;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}

body{
    perspective: 800px;
    margin: 0;
    padding: 0
}
/* start header contain sidebar*/
header{
    width: 100%;
    margin: 0;
    background-color: #0FC9D2;
    height: 50px;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    position: sticky;
    top: 0;
    z-index: 10
}

header p{
    margin: 0;
    padding: 15px;
}

header p span{
    font-weight: 100
}
/* start sidebar*/
input{
    display: none
}

label i{
    position: absolute;
    right: 40px;
    top: 15px;
    cursor: pointer;
    font-size: 24px;
    color: #FFF
}

header .sidebar label i{
    position: relative;
    left: 80%;
    top: 20px;
    cursor: pointer;
    font-size: 24px;
    color: #0FC6CF
}


header .sidebar{
    background-color: #F7F7F7;
    width: 250px;
    position: absolute;
    top: 0;
    right: -270px;
    height: 625px;
    background-attachment: fixed;
    transition: all 7s ease-in-out;
    box-shadow: -1px 0 20px #E9E9E9;
    display: none;
}

#menu:checked ~ header .sidebar{
    right: 0;
    display: block;
}

header .sidebar ul li{
    list-style: none;
    text-transform: capitalize;
    border-bottom: 1px solid #D7D7D7;
    width: 80%;
    padding: 20px 0;
    transition:all .5s ease-in-out;
    color: #363636;
}

header .sidebar ul li:last-of-type{
    border: none
}

header .sidebar ul li a{
    text-decoration: none;
    color: inherit;
    font-weight: 100
}

header .sidebar ul li:hover{
    margin-left: 20px;
    color: #0FC9D2
}

/* end sidebar , header and start main*/

section{
    width: 70%;
    margin: 100px auto;
    background-color: #FFF;
    overflow: hidden;
    box-shadow: 0px 0px 50px 50px #EBEBEB;
    border-radius: 10px
}

section h3{
    font-size: 40px;
    font-weight: 100;
    color: #363636;
    padding: 40px 0 0;
    margin-left: 100px;
}

section p{
    width: 80%;
    margin-left: 100px;
    font-size: 15px;
    color: #363636;
    line-height: 30px;
    padding: 50px 0
}

section img{
    width: 100%;
    height: 500px;
    cursor: pointer
}

/* end content and start footer*/

footer{
    width: 40%;
    margin: 100px auto;
    text-align: center;
}

footer i{
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: 1px solid #999;
    border-radius: 50%;
    font-size: 20px;
    padding: 15px 0;
    margin: 10px;
    transition: .5s ease-in-out;
    transition-property: color, border
}

footer i:hover{
    color: #0FC9D2;
    border-color: #0FC9D2
}

footer p{
    color: #C1C1C1
}

/*media query*/

@media only screen and (min-width: 600px) and (max-width: 1000px){
    section{
        width: 90%
    }
    header .sidebar{
    height: 2000px;
    }
} 